@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli';
}

:root {
    color: black;
    font: normal normal 600 16px/20px Muli;
    letter-spacing: 0px;
    --primary-brand: #1363DF;
}

#app {
    margin-top: 60px;
}

.app__banner {
    display: flex;
    flex-direction: row;
}

.app__banner_title {
    width: 30%;
    background: #1B252C 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: normal normal 600 48px/60px Source Serif Pro;
    color: #FFFFFF;
}

.app__banner_image {
    width: 70%;
}

.app__banner_image img {
    width: 100%;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    font-size: 30px;
}

.page {
    margin: 0
}

.page__header {
    width: 100%;
    height: 80px;
    background-color: var(--primary-brand);
    position: fixed;
    top: 0;
}

.page__header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    ;
    color: #FFFFFF;
    height: 100%;
    gap: 30px;
}

.page__header-content .page__header-content_title {
    font: normal normal 400 32px/40px Muli;
}

.page__header-content .page__header-content_menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.page__header-content .page__header-content_menu div {
    font: normal normal 600 16px/24px Muli;
    color: #FFFFFF;
    position: relative;
}

.page__header-content .page__header-content_menu .menu_home::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.page__header-content .page__header-content_search-box input,
.page__header-content_search-box select {
    width: 250px;
    padding: 15px;
    font-size: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #B5B7BC;
    border-radius: 8px;
    color: #91959C;
}

/* Product row */

.main__row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
}

.main__row .main__filters-container {
    width: 30%;
}

.main__row .main__products-container {
    width: 70%;
}

.main__filters .main__filters_brudcrumb {
    text-align: left;
    font: normal normal normal 16px/24px Muli;
    color: #172026;
}

.main__filters .main__filters_brudcrumb span {
    font: normal normal normal 16px/24px Muli;
    color: #545D63;
}

.line, .side__line {
    width: 100%;
    height: 0%;
    border: 2px solid #D1D3D6;
    margin: 20px 0;
}

.main__filters .main__filters_heading {
    margin-top: 35px;
    margin-bottom: 16px;
    font: normal normal normal 20px/14px Muli;
    color: #181C24;
}

.main__filters_categories-title, .side__filters_categories-title {
    margin-left: 10px;
    font: normal normal 600 16px/24px Muli;
    color: #181C24;
}
.side__filters_categories-title {
    margin-left: 0;
}

.side__results_button {
    margin-right: 20px;
}

.main__filters_categories .main__filters_category, .side__filters_categories .side__filters_category {
    display: flex;
    align-items: center;
    padding: 5px;
}

.main__filters_categories span, .side__filters_categories span {
    font: normal normal normal 16px/22px Muli;
    color: #181C24;
    text-transform: capitalize;
}

.main__filters_categories input, .side__filters_categories input {
    width: 24px;
    height: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #91959C;
    margin-right: 15px;
}

.main__row .main__products-container .main__products .main__products_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__products_header .count {
    text-align: left;
    color: #172026;
}

.products__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products__container .product__wrapper {
    width: calc(33.33% - 30px);
    padding: 15px;
}

.products__container .product__wrapper img {
    background: #F3F3F3 0% 0% no-repeat padding-box;
    width: 100%;
    height: 80%;
}

.products__container .product__wrapper .product__wrapper_title {
    font: normal normal bold 18px/20px Muli;
    color: #172026;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.products__container .product__wrapper .product__wrapper_price {
    text-align: left;
    color: #172026;
    margin-bottom: 10px;
}

.products_load-more {
    text-align: center;
    background: var(--primary-brand);
    color: white;
    padding: 10px;
    border-radius: 4px;
    width: 100px;
    right: 0;
    right: 0;
    float: right;
}

/* Side Nav Css */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #00000026;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.page__header_menu-bar {
    display: none;
}

/* Media Queries */

@media screen and (max-width: 320px) {
    .page__header-content {
        padding: 0 20px;
        justify-content: center;
    }

    .page__header-content_search-box {
        display: none;
    }

    .products__container .product__wrapper {
        width: 100% !important;
    }

    .products__container .product__wrapper img {
        aspect-ratio: 1/1;
    }
}

@media screen and (max-width: 768px) {
    .app__banner {
        display: flex;
        flex-direction: column;
    }

    .app__banner_image {
        width: 100%;
    }

    .app__banner_image img {
        height: 180px;
    }

    .app__banner_title {
        position: absolute;
        width: 90%;
        top: 150px;
        left: 5%;
        height: 150px;
    }

    .main__row {
        flex-direction: column;
        margin-top: 50px;
        gap: 0;
    }

    .main__row .main__filters-container {
        width: 100%;
    }

    .main__row .main__products-container {
        width: 100%;
    }

    .main__row .main__filters .main__filters_heading,
    .main__row .main__filters_categories,
    .main__row .main__filters_categories-title,
    .main__row .line {
        display: none;
    }

    .main__filters .main__filters_brudcrumb,
    .main__filters .main__filters_brudcrumb .active-screen {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .page__header-content {
        padding: 0 20px;
        justify-content: center;
    }

    .page__header-content_menu {
        display: none !important;
    }

    .page__header_menu-bar {
        font-size: 24px;
        display: block;
    }

    .main__products_header {
        flex-direction: column-reverse !important;
        align-items: center;
        gap: 20px;
    }

    .products__container .product__wrapper {
        width: calc(50% - 30px);
        padding: 15px;
    }

    .sidenav {
        padding-top: 15px;
        padding-left: 20px;
    }

    .sidenav a {
        font-size: 18px;
    }

}

@media (min-width: 1024px) and (max-width: 1280px) {
    .page__header-content {
        padding: 0 150px;
    }

    .main__filters {
        margin-left: 0;
    }
}

@media screen and (min-width: 1440px) {
    .main__filters {
        margin-left: 50%;
    }
}

@media screen and (min-width: 1920px) {
    .main__row {
        padding: 30px 200px;
        max-width: 1600px;
    }
}